.auth-container{
    max-width: 500px;
    text-align: center; 
    margin: auto;
    margin-top: 11%;
}

.form-control-group {
    margin-bottom: 32px;
}

.another-action{
    margin-bottom: 17px;
}

.forgot-password{
    float: right;
}