@mixin ngx-layout() {
  @include media-breakpoint-down(is) {
    .row {
      margin-left: -10px;
      margin-right: -10px;
    }
  }
}

.nb-theme-cosmic nb-layout .layout .layout-container .content .columns nb-layout-column {
  padding: 0.75rem 2.25rem 0.75rem !important;
}
