<nb-card>
    <nb-card-body>
      
        <h1 id="title" class="title">Change Password</h1>
        <p class="sub-title-1">Please set a new password.</p>

        <nb-alert *ngIf="formInputErrMsgService.showMessages.error && formInputErrMsgService.errors?.length && !submitted" outline="danger" role="alert">
            <p class="alert-title"><b>Oh snap!</b></p>
            <ul class="alert-message-list">
                <li *ngFor="let error of formInputErrMsgService.errors" class="alert-message">{{ error }}</li>
            </ul>
        </nb-alert>

        <nb-alert *ngIf="formInputErrMsgService.showMessages.success && formInputErrMsgService.messages?.length && !submitted" outline="success" role="alert">
            <p class="alert-title"><b>Hooray!</b></p>
            <ul class="alert-message-list">
                <li *ngFor="let message of formInputErrMsgService.messages" class="alert-message">{{ message }}</li>
            </ul>
        </nb-alert>

        <form (ngSubmit)="reset(resetPasswordForm.value)" [formGroup]="resetPasswordForm" aria-labelledby="title" style="text-align: left;">

            <div class="form-control-group">
                <span class="label-with-link">
                    <label class="label" for="input-password">Password:</label>
                </span>
                <input nbInput
                fullWidth
                formControlName="password" 
                name="password"
                type="password"
                id="input-password"
                placeholder="Password"
                fieldSize="large"
                [status]="resetPasswordForm.get('password').dirty ? (resetPasswordForm.get('password').invalid  ? 'danger' : 'success') : 'basic'"
                [required]="true"
                [minlength]="6"
                [maxlength]="20"
                [attr.aria-invalid]="resetPasswordForm.get('password').invalid && resetPasswordForm.get('password').touched ? true : null"
                >
                <ng-container *ngIf="resetPasswordForm.get('password').invalid && resetPasswordForm.get('password').touched ">
                    <p class="caption status-danger" *ngIf="resetPasswordForm.get('password').errors?.required">
                        Password is required!
                    </p>
                    <p class="caption status-danger" *ngIf="resetPasswordForm.get('password').errors?.minlength || resetPasswordForm.get('password').errors?.maxlength">
                        Password should contain
                        from 6
                        to 8
                        characters
                    </p>
                </ng-container>
            </div>

            <div class="form-control-group">
                <span class="label-with-link">
                    <label class="label" for="input-confirmPassword">Confirm Password:</label>
                </span>
                <input nbInput
                fullWidth
                formControlName="confirmPassword" 
                name="confirmPassword"
                type="confirmPassword"
                id="input-confirmPassword"
                placeholder="Password"
                fieldSize="large"
                [status]="resetPasswordForm.get('confirmPassword').dirty ? (resetPasswordForm.get('confirmPassword').invalid  ? 'danger' : 'success') : 'basic'"
                [required]="true"
                [minlength]="6"
                [maxlength]="20"
                [attr.aria-invalid]="((resetPasswordForm.get('confirmPassword').invalid && resetPasswordForm.get('confirmPassword').touched)
                 || resetPasswordForm.get('confirmPassword').value!== resetPasswordForm.get('password').value) ? true : null"
                >
                <ng-container *ngIf="resetPasswordForm.get('confirmPassword').invalid && resetPasswordForm.get('confirmPassword').touched ">
                    <p class="caption status-danger" *ngIf="resetPasswordForm.get('confirmPassword').errors?.required">
                        Password is required!
                    </p>
                    <p class="caption status-danger" *ngIf="resetPasswordForm.get('confirmPassword').errors?.minlength || resetPasswordForm.get('confirmPassword').errors?.maxlength">
                        Password should contain
                        from 6
                        to 8
                        characters
                    </p>
                    <p class="caption status-danger" *ngIf="resetPasswordForm.get('confirmPassword').value!== resetPasswordForm.get('password').value">
                        Password and Confirm-Password must same!
                    </p>
                </ng-container>
            </div>

            <div style="text-align: center;">
                <button nbButton
                    fullWidth
                    status="primary"
                    size="large"
                    [disabled]="submitted || !resetPasswordForm.valid"
                    [class.btn-pulse]="submitted" style="margin-bottom: 32px;">
                    Change Password
                </button>
            </div>
        </form>
        
        <section class="another-action" aria-label="Register">
            <a class="text-link" routerLink="../login" style="float: left;">Back to Login</a>
            <a class="text-link" routerLink="../register" style="float: right;">Register</a>
        </section>
        
    </nb-card-body>
</nb-card>