<nb-card>
    <nb-card-body>
      
        <h1 id="title" class="title">Forgot Password</h1>
        <p class="sub-title-1">Enter your email address and we'll send a link to reset your password.</p>

        <nb-alert *ngIf="formInputErrMsgService.showMessages.error && formInputErrMsgService.errors?.length && !submitted" outline="danger" role="alert">
            <p class="alert-title"><b>Oh snap!</b></p>
            <ul class="alert-message-list">
                <li *ngFor="let error of formInputErrMsgService.errors" class="alert-message">{{ error }}</li>
            </ul>
        </nb-alert>

        <nb-alert *ngIf="formInputErrMsgService.showMessages.success && formInputErrMsgService.messages?.length && !submitted" outline="success" role="alert">
            <p class="alert-title"><b>Hooray!</b></p>
            <ul class="alert-message-list">
                <li *ngFor="let message of formInputErrMsgService.messages" class="alert-message">{{ message }}</li>
            </ul>
        </nb-alert>

        <form (ngSubmit)="requestPassword(requestPasswordForm.value)" [formGroup]="requestPasswordForm" aria-labelledby="title" style="text-align: left;">

            <div class="form-control-group">
                <label class="label" for="input-email">Email:</label>
                <input 
                nbInput 
                fullWidth 
                formControlName="email" 
                name="email" 
                type="text" 
                id="input-email" 
                placeholder="Email address"
                pattern=".+@.+\..+"
                fieldSize="large"
                autofocus
                [status]="requestPasswordForm.get('email').dirty ? (requestPasswordForm.get('email').invalid  ? 'danger' : 'success') : 'basic'"
                [required]="true"
                [attr.aria-invalid]="requestPasswordForm.get('email').invalid && requestPasswordForm.get('email').touched ? true : null"  
                >
                <ng-container *ngIf="!requestPasswordForm.get('email').valid && requestPasswordForm.get('email').touched">
                    <p class="caption status-danger" *ngIf="requestPasswordForm.get('email').errors?.required">
                        Email is required!
                    </p>
                    <p class="caption status-danger" *ngIf="requestPasswordForm.get('email').errors?.pattern">
                        Email should be the real one!
                    </p>
                </ng-container>
            </div>
            
            <div style="text-align: center;">
                <button nbButton
                    fullWidth
                    status="primary"
                    size="large"
                    [disabled]="submitted || !requestPasswordForm.valid"
                    [class.btn-pulse]="submitted" style="margin-bottom: 32px;max-width: 200px;">
                    Request Password
                </button>
            </div>
        </form>

        <section class="another-action" aria-label="Register">
            <a class="text-link" routerLink="../login" style="float: left;">Back to Login</a>
            <a class="text-link" routerLink="../register" style="float: right;">Register</a>
        </section>

    </nb-card-body>
</nb-card>